@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --orange: #ff8139;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #555555;
  --accent-color3: #cccccc;
  --card-color: #000000;
  --background: #111111;
  --font-family: "Inter", sans-serif;
}

[data-theme="light"] {
  --background: #ffffff;
  --accent-color1: #000000;
  --accent-color2: #eeeeee;
  --accent-color3: #777777;
  --card-color: #eeeeee;
  --header: #fff;
  --header-color: #21473c;
  --header-colorTitle: #1d4eb0;
  --header-colorHover: #1d4eb0;
  --header-shadowColor: rgba(0, 0, 0, 0.05);
  --footer: #c3c3c3;
}

[data-theme="dark"] {
  --header: #0b0d0e;
  --header-color: #ddd;
  --header-colorTitle: #1d4eb0;
  --header-colorHover: #1d4eb0;
  --header-shadowColor: rgba(255, 255, 255, 0.09);
  --footer: #c3c3c3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    padding: 0;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
  .app-container::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: #111111;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
