footer {
  background-color: var(--footer);
  width: 100%;
  height: 250px;
  padding: 10px 15px;
  display: grid;

  .boxBottom {
    justify-content: center;
    display: flex;
    align-items: end;
  }
}
