@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.welcome {
  display: grid;
  justify-content: center;
  .myPerson {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .animation {
      width: 400px;

      .myPhoto {
        display: flex;
        justify-content: center;

        img {
          width: 217px;
          height: 217px;
          border-radius: 50%;
          box-shadow: 0px 0px 13px 2px var(--header-colorTitle);
        }
      }

      .wrapper {
        width: 400px;

        svg {
          font-family: "Roboto", sans-serif;
          width: 100%;
          height: 100%;
          text-shadow: 0px 0px 4px rgba(29, 78, 176, 1);

          text {
            animation: stroke 5s infinite alternate;
            stroke-width: 2;
            stroke: var(--header-colorTitle);
            font-size: 100px;

            @keyframes stroke {
              0% {
                fill: rgba(72, 138, 204, 0);
                stroke: rgba(54, 95, 160, 1);
                stroke-dashoffset: 25%;
                stroke-dasharray: 0 50%;
                stroke-width: 2;
              }
              70% {
                fill: rgba(72, 138, 204, 0);
                stroke: rgba(54, 95, 160, 1);
              }
              80% {
                fill: rgba(72, 138, 204, 0);
                stroke: rgba(54, 95, 160, 1);
                stroke-width: 3;
              }
              100% {
                fill: var(--header-colorTitle);
                stroke: rgba(54, 95, 160, 0);
                stroke-dashoffset: -25%;
                stroke-dasharray: 50% 0;
                stroke-width: 0;
              }
            }
          }
        }
      }
    }

    .informations {
      display: grid;
      gap: 5px;
      .hellou {
        font-size: 22px;
        color: #89a29f;
        font-weight: 600;
      }

      .name {
        font-size: 30px;
        color: var(--h2);
        strong {
          color: var(--header-colorTitle);
        }
      }

      .area {
        font-size: 20px;
        color: var(--pColor);
      }

      .links {
        display: flex;
        gap: 15px;
        margin-top: 30px;
        a {
          padding: 10px 15px;
          text-decoration: none;
          background-color: var(--header-colorTitle);
          border-radius: 10px;
          color: #fff;
          font-weight: bold;

          &:hover {
            transition: all 0.5s ease;
            background-color: var(--btnBgHover);
          }
        }
      }
    }
  }

  .iAm,
  .qualifications {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    .boxImg {
      width: 40%;
      height: 450px;
      display: block;
      background-color: #fff;
    }
    .boxInfo {
      width: 60%;

      .who {
        font-size: 22px;
        color: #89a29f;
        font-weight: 600;
      }

      .mv {
        font-size: 30px;
        color: var(--h2);
        strong {
          color: var(--header-colorTitle);
        }
      }

      .text {
        font-size: 20px;
        color: var(--pColor);
      }
    }
  }
}

@include mobileview {
  .welcome {
    .myPerson {
      display: grid;

      .animation {
        width: auto;

        .wrapper {
          width: auto;
        }
      }

      .informations {
        .hellou,
        .area {
          font-size: 16px;
        }

        .name {
          font-size: 24px;
        }
      }
    }
    .iAm,
    .qualifications {
      display: grid;
      padding: 10px 15px;

      .boxImg,
      .boxInfo {
        width: 100%;
      }

      .boxInfo {
        .who,
        .text {
          font-size: 16px;
        }

        .mv {
          font-size: 24px;
        }
      }
    }

    .qualifications {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

@include desktopview {
  .welcome {
    .myPerson,
    .iAm,
    .qualifications {
      max-width: 1200px;
    }
  }
}
