@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.myPerson {
  width: 100%;
  height: 600px;
  padding: 10px 15px;

  .myPhoto {
    display: flex;
    justify-content: center;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0px 0px 13px 2px rgba(20, 0, 128, 1);
    }
  }

  .wrapper {
    background-color: var(--background);

    svg {
      font-family: "Roboto", sans-serif;
      width: 100%;
      height: 100%;

      text {
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #365fa0;
        font-size: 100px;

        @keyframes stroke {
          0% {
            fill: rgba(72, 138, 204, 0);
            stroke: rgba(54, 95, 160, 1);
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
          }
          70% {
            fill: rgba(72, 138, 204, 0);
            stroke: rgba(54, 95, 160, 1);
          }
          80% {
            fill: rgba(72, 138, 204, 0);
            stroke: rgba(54, 95, 160, 1);
            stroke-width: 3;
          }
          100% {
            fill: rgba(72, 138, 204, 1);
            stroke: rgba(54, 95, 160, 0);
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
          }
        }
      }
    }
  }
}
