footer {
  width: 100%;
  height: 120px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--brColor);
  background-color: var(--footer);
  display: flex;
  justify-content: center;

  .foo {
    width: 100%;
    align-items: center;

    .info {
      display: flex;

      p {
        color: var(--h2);
        font-weight: 600;

        a {
          text-decoration: none;
          color: var(--headerTxtColorTitle);
          font-weight: bold;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            background: var(--headerTxtColorHover);
            width: 0px;
            height: 2px;
            bottom: -3px;
            transition: all 0.8s;
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      gap: 10px;
      font-size: 20px;
      cursor: pointer;

      a {
        color: unset;
      }

      svg {
        &:hover {
          color: var(--headerTxtColorHover);
        }
      }
    }
  }

  .boxBottom {
    justify-content: center;
    display: flex;
    align-items: end;
    margin-left: 8px;
  }
}

@include mobileview {
  footer {
    .foo {
      display: grid;
      justify-content: center;
      gap: 10px;
      .info {
        display: grid;
        gap: 5px;

        p {
          font-size: 15px;

          a {
            position: unset;

            &:hover {
              &::before {
                width: 0;
              }
            }
          }
        }

        .boxBottom {
          margin: 0;
        }
      }

      .icons {
        justify-content: center;
      }
    }
  }
}

@include tabletview {
  footer {
    .foo {
      max-width: 740px;
      display: grid;
      justify-content: center;
      gap: 10px;
      .info {
        display: grid;
        gap: 5px;

        p {
          font-size: 18px;
        }

        .boxBottom {
          margin: 0;
        }
      }

      .icons {
        justify-content: center;
      }
    }
  }
}

@include notebookview {
  footer {
    .foo {
      max-width: 960px;
      display: flex;
      justify-content: space-between;

      .info {
        display: flex;
      }
    }
  }
}

@include desktopview {
  footer {
    .foo {
      max-width: 1200px;
    }
  }
}
