header {
  background-color: var(--header);
  display: flex;
  justify-content: center;
  padding: 5px 15px;
  height: 90px;
  align-items: center;
  box-shadow: 0 3px 9px var(--header-shadowColor);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .titles a {
      color: var(--headerTxtColorTitle);
      font-weight: bold;
      display: flex;
      align-items: center;
      text-decoration: none;

      &::before {
        display: none;
      }

      img {
        width: 45px;
      }
    }

    .mode {
      display: flex;
      justify-content: end;
      cursor: pointer;

      svg {
        font-size: 20px;
      }
    }

    .links {
      display: flex;
      gap: 15px;
      align-items: center;

      li {
        display: block;
        padding: 0 10px;
      }
    }
  }

  .menu {
    display: none;
  }

  a {
    text-decoration: none;
    color: var(--headerTxtColor);
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    transition: all 0.5s ease;

    &::before {
      position: absolute;
      content: "";
      background: var(--headerTxtColorHover);
      width: 0px;
      height: 2px;
      bottom: -3px;
      transition: all 0.5s;
    }

    &:hover {
      color: var(--headerTxtColorHover);
      font-weight: 500;

      &::before {
        width: 100%;
      }
    }
  }

  .light,
  .dark {
    color: var(--headerTxtColor);
  }

  .bm-overlay {
    left: 0;
    top: 0;
    background: unset;
  }

  .bm-menu-wrap {
    top: 0;
    padding: 30px;
    background-color: var(--bgMenuMobile);
    border-radius: 25px 0px 0px 25px;
  }

  .bm-burger-button {
    display: flex;
    align-items: center;
    font-size: 35px;
  }

  .bm-item-list {
    display: grid;
    gap: 15px;
    height: 30px !important;
  }

  .bm-cross-button svg {
    color: var(--headerTxtColor);
    font-size: 40px;
  }
}

@include mobileview {
  header {
    .container {
      .titles a {
        h2 {
          font-size: 25px;
        }
      }

      .mode {
        justify-content: left;
      }

      .links {
        display: none;
      }
    }

    .menu {
      display: block;

      .bm-icon {
        color: var(--headerTxtColor);
      }

      #react-burger-menu-btn {
        max-width: 42px;
        max-height: 42px;
        left: unset !important;
        right: 10px;
        top: 23px !important;
      }
    }
  }
}

@include tabletview {
  header {
    .container {
      max-width: 740px;
      .titles a {
        h2 {
          font-size: 25px;
        }

        img {
          width: 40px;
        }
      }

      .links {
        gap: 10px;
      }
    }
    a {
      font-size: 1rem;
    }
  }
}

@include notebookview {
  header {
    .container {
      max-width: 960px;

      .titles a {
        h2 {
          font-size: 32px;
        }
      }
    }

    a {
      font-size: 1.2rem;
    }
  }
}

@include desktopview {
  header {
    .container {
      max-width: 1200px;
    }
  }
}
