.card {
  box-sizing: border-box;
  width: auto;
  height: auto;
  background: var(--header);
  border: 2px solid rgba(217, 217, 217, 0.58);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  padding: 20px 15px;

  .imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    .bis2bis {
      width: 25px;
    }
    .wbj {
      width: 45px;
      margin-right: -10px;
    }
    .edu {
      width: 55px;
    }
  }

  .box {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .divider {
      width: 100%;
      height: 1px;
      border: 1px solid #c1c1c1;
      border-radius: 10px;
      margin: 10px 0;
    }
  }

  p {
    color: var(--headerTxtColor);

    strong {
      color: var(--headerTxtColorTitle);
    }
  }

  &:hover {
    border: 2px solid var(--headerTxtColorTitle);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
}
