.card {
  box-sizing: border-box;
  width: auto;
  height: auto;
  background: var(--header);
  border: 2px solid rgba(217, 217, 217, 0.58);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  padding: 10px 15px;

  h2 {
    margin-bottom: 15px;
  }

  .box {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  p {
    color: var(--headerTxtColor);

    strong {
      color: var(--headerTxtColorTitle);
    }
  }

  &:hover {
    border: 2px solid var(--headerTxtColorTitle);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
}
